<%- include('../../partials/header') %>
<section class="mycard detailed">
  <%- include('../../partials/detail') %>
  <%- include('../../partials/update') %>
</section>
<%- include('../../partials/footer') %>