<%- include('../../partials/header') %>
  <section class="card">
    <form action="/searches" method="POST">
      <input id="text" type="text" name="search" placeholder="Enter a title or author" required>
        <div class="inputGroup">
          <input id="radio1" name="search" type="radio" value="author" required/>
          <label for="radio1">Search by title</label>
        </div>
        <div class="inputGroup">
          <input id="radio2" name="search" type="radio" value="author" required/>
          <label for="radio2">Search by author</label>
        </div>
      <button type="submit">Search the Google Books API</button>
    </form>
  </section>







<%- include('../../partials/footer') %>