h2{
  font-size: 2em;
}
/* NavBar */
nav{
  height: 4em;
  background-color: #222222;
  color: #fff;
  padding: 2em 3em;
}
.icon{
  display: inline-block;
}
.dropdown{
  display:none;
}
#dropDown a{
  display: block;
  background-color: #222222;
  width: 100vw;
}

form{
  margin: auto;
  width: 80%;
}
input{
  display: block;
  height: 2em;
}


article{
  height: 30vh;
  width: 85vh;
  overflow: ;
}

.error{
  background-color: #1bd000;
  text-align: center;
  font-size: 2em;
  padding: 2em;
}
.error a {
  text-decoration: none;
  color: #222222;
}
