.travolta{
  background-image: url('https://media3.giphy.com/media/20k1punZ5bpmM/giphy.gif?cid=ecf05e47597db588a1f048754250f58a6a2144b991c7fe65&rid=giphy.gif');
  background-size: cover;
  width: 100vw;
  height: 100vw;
  line-height: 50vh;
  text-align: center;
}
.error{
  font-size: 3em;
  font-weight: 800;
}
.error a{
  text-decoration: none;
  color: #fff;
}


.card{
  border-radius: 2em;
  width: 400px;
  margin: 50px auto;
  background-color: #444444;
  padding: 5em;
}
.card form input{
  width: 400px;
}

label {
  padding: 2em 0;
  width: 100%;
  display: block;
  text-align: center;
  color: #222222;
  transition: ease-in 250ms;
}

input:checked ~ label {
  background-color: #222222;
  color: #fff;
}
#text, button{
  background-color: #222222;
  color: #fff;
  border: none;
  text-align: center;
}

#radio1, #radio2 {
  visibility: hidden;
}

input, button{
  width: 100%;
  height: 4em;
}
textarea{
  width: 100%;
}
textarea, input{
  background-color: #222222;
  color: #fff;
  border: none;
  margin: 1em 0;
}
button{
  width: 100%;
  height: 6em;
  margin-top: 2em;
}

article{
  width: 400px;
  margin: auto;
}


/* Tablet */
@media (min-width: 760px) {

}
/* Laptop */
@media (min-width: 990px) {

}
/* Desktop */
@media (min-width: 1200px) {

}

  